.credit{
    margin: 10% 2%;
}

.credit-title, .credit-item {
    font-family: "Planer",
            "SF Pro Text",
            "SF Pro Icons",
            "Helvetica Neue",
            "Helvetica",
            "Arial",
            sans-serif;
        font-weight: 800;
        font-size: calc(6px + 2vmin);
}
.credit-title {
    margin-bottom: 1%;
}
.credit-item {
    display: flex;
    font-weight: 400;
    font-size: calc(2px + 2vmin);
}
.credit-role, .credit-name {
    margin:0;
}