.icon {
    width:2%;
    margin:1% 1%;
}
.footer {
    width:100vw;
    height:150px;
    background-color: black;
    font-size: calc(2px + 1.5vmin);
        font-family: "Planer",
            "SF Pro Text",
            "SF Pro Icons",
            "Helvetica Neue",
            "Helvetica",
            "Arial",
            sans-serif;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-top:10%;
}