/* navi.css */
.Navi-bar .styled-link-title, .Navi-bar .styled-link-navi  {
    text-decoration: none;
}
.Navi-bar .styled-link-title {
    font-weight: 600;
    letter-spacing: 2px;
}

.Navi-bar .styled-link-navi {
    font-weight: 400;
    letter-spacing: 2px;
}

.Navi-bar {
    position: absolute;
    top: 2%;
    width: 100%;
    height: 5%;
    padding-top: 2%;
}

.sub-page {
    margin: 5%;
    margin-right: 1%;
}

.sub-page:first-child {
    margin-right: 35%;
}